PO_BASE_URL=https://REPLACE_WITH_YOUR_PORT_OPTIMIZER_DOMAIN
PO_API_KEY=

OUTPUT_DIR=outputs
LOAD_TO_SQL=false

AZ_SQL_SERVER=
AZ_SQL_DB=
AZ_SQL_USER=
AZ_SQL_PASSWORD=
AZ_SQL_DRIVER=ODBC Driver 17 for SQL Server

REQUEST_TIMEOUT=30
SLEEP_BETWEEN_CALLS_SEC=0.2
